*{
    padding: 0;
    margin: 0;
}
.container{
    background: url("../images/snake-bg.webp");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(rgb(148, 211, 148),rgb(223, 223, 147));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid white;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.head{
    background: linear-gradient(yellow, red);
    border: 2px solid purple;
    transform: scale(1.1);
    border-radius: 20px;

}
.snake{
    background-color: purple;
    border: 2px solid white;
    border-radius: 20px;
}
.food{
    background: linear-gradient(purple, red);
    border: 1px solid black;
    border-radius: 8px;
}